.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem 2.4rem;
  overflow: hidden;
}

@media (min-width: 576px) {
  .container {
    padding: 0 3.2rem 2.4rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 4.5rem 2.4rem;
  }
}
