.random-bird {
  padding: 1.6rem;
  border-radius: 0.4rem;
  background-color: #303030;
  margin-bottom: 2.4rem;
}

.random-bird__image {
  width: 20rem;
  height: 15.5rem;
  border-radius: 1rem;
  margin: 0 auto 2.4rem;
}

.random-bird__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .random-bird {
    display: flex;
    justify-content: space-between;
  }

  .random-bird__image {
    margin: 0 4rem 0 0;
  }

  .random-bird__info {
    width: 100%;
  }

  .random-bird__title {
    text-align: left;
  }
}
