.species__item {
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.species__item:not(:last-child) {
  border-bottom: 0.1rem solid #555;
}

.species__bullet {
  display: inline-block;
  margin-right: 1.5rem;
  width: 1rem;
  height: 1rem;
  background-color: #444;
  border-radius: 50%;
  transition: 0.1s;
}

.species__item:hover {
  background-color: #444;
}
.species__item:hover .species__bullet {
  background-color: grey;
}

.species__bullet_success {
  background-color: #00bc8c;
}

.species__bullet_error {
  background-color: #d62c1a;
}
